[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Kbdleds Plugin
Name[ru]=Модуль индикаторов клавиатуры
Name[uk]=Модуль індикаторів клавіатури
Comment=Keyboard LEDs plugin for the Xfce panel
Comment[ru]=Модуль индикаторов клавиатуры для панели Xfce
Comment[uk]=Модуль індикаторів клавіатури для панелі Xfce
Icon=kbdleds-plugin
X-XFCE-Exec=/usr/lib/xfce4/panel-plugins/xfce4-kbdleds-plugin
#X-XFCE-Unique=true
